@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,100&family=Bruno+Ace+SC&family=Jost:ital,wght@1,300&family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Asap', sans-serif;
    margin: 0 auto;
    background-image: url(assets/asistencia.jpg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}

.title{
    display: block;
    justify-content: center;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 40px;
    position: relative;
    left: 46rem;
    top: 6rem;
    background: transparent;
    backdrop-filter: blur(25px);
    width: 500px;
    border: 5px solid salmon;
    border-radius: 25px;
}
.content{
display: block;
justify-content: center;
width: 700px;
height: 650px;
padding: 15px;
background: transparent;
border: 2px solid salmon;
display: block;
align-items: center;
text-align: center;
margin-top: 150px;
padding: 3px;
position: relative;
left: 40rem;
top: 0;
border-radius: 25px;
backdrop-filter: blur(25px) ;
transition: all.5s;
}
.content h1{
    display: block;
    justify-content: center;
    color: lightgoldenrodyellow;
    position: relative;
    left: 100px;
    top: -6rem;
}
.input_cont{
height: 50px;
display: block;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
top: 2rem;
margin-bottom: 15px;
}
.button{
width: 100px;
height: 40px;
background-color: tomato;
border-radius: 5px;
font-size: 20px;
cursor: pointer;
font-family: 'Asap', sans-serif;
font-weight: 800;
}
.button:hover{
    background: coral;
}
.fin_page{
    font-size: 22px;
    font-weight: 600;
    position: relative;
    bottom: -3rem;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    font-size: 20px;
    width: 550px;
    padding: 10px;
    border: 2px solid tomato;
    border-radius: 25px;
    position: relative;
    top: -6rem;
}
.fin_page p{
   color: lightgoldenrodyellow;
}
i{
    width: 30px;
    height: 30px;
    color: tomato;
    position: relative;
    top: -6rem;
}
.link{
    text-decoration: none;
    font-weight: 800;
    color: coral;
}
.link:hover{
    color: crimson;
}
.login{

    flex-wrap: wrap;

    
}
/*           seccion login       */
.input_icon{
    display: flex;
}
.input_icon i{
    position: relative;
    top: 29px;
    left: 18px;
}
.login{
    gap: 40px;
}
.title_login{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 40px;
    position: relative;
    left: 45rem;
    top: 6rem;
    background: transparent;
    backdrop-filter: blur(25px);
    width: 500px;
    border: 5px solid salmon;
    border-radius: 25px;
    gap: 30px;
    color: lightgoldenrodyellow;
}
.box_log{
    display: block;
    width: 600px;
    height: 300px;
    background: transparent;
    backdrop-filter: blur(25px);
    border: 5px solid salmon;
    border-radius: 25px;
    position: relative;
    left: 42rem;
    top: 6rem;
    gap: 30px;
    transition: all .5s;
}
.box_log input{
    margin-top: 1rem;
    margin: 1rem;
    position: relative;
    top: 0;
}
.box_log button{
        width: 200px;
        height: 30px;
        background-color: tomato;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        font-family: 'Asap', sans-serif;
        font-weight: 800;
        position: relative;
        top: 3rem;
        left: 12rem;
    }
.box_log button:hover{
        background: coral;
    }
.box_log p{
    position: relative;
    top: 3rem;
    left: 6rem;
    font-size: 20px;
    font-weight: 600;
    color: lightgoldenrodyellow;
}
.link2{
    text-decoration: none;
    font-weight: 800;
    color: coral;
}
.link2:hover{
    color: crimson;
}

 /* footer */
 .footer{
    display: flex;
    background-color: coral;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
   }
   .footer img{
    opacity: 0.8;
    position: relative;
    left: 24rem;
   }
   .footer h2{
    font-size: 15px;
    font-family: 'Asap', sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    left: 24rem;
    opacity: 0.8;
   }

   /*               media queries    de      register        */


   @media (min-width: 320px) and (max-width:767px){
   body{
    background-size: cover;
    background-position: center;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    transition: all.4s;
    
   }
   form{
    width: 320px;
   }
   .content{
    width: 320px;
    height: 550px;
    position: relative;
    left: 70px;
    transition: all .4s;
   }
   .content h1{
    width: 380px;
    font-size: 25px;
    font-weight: 700;
    color: lightgoldenrodyellow;
    position: relative;
    left: -35px;
    top: -6rem;
    transition: all .4s;
   }
   .input_cont i{
      position: relative;
      top: -5rem;
      transition: all.4s;
   }

   input[type="text"],
   input[type="password"],
   input[type="email"]{
    font-size: 20px;
    width: 260px;
    position: relative;
    top: -5rem;
    transition: all.4s;
}
.fin_page{
    position: relative;
    top:-2rem;
}
.fin_page p{
    color: lightgoldenrodyellow;
    font-size: 23px;
    position: relative;
    bottom: -1rem;
}
.footer h2{
    position: relative;
    left: 1rem;
}
.footer img{
    position: relative;
    left: 1rem;
}
}
@media (min-width: 768px) and (max-width: 991px){
    body{
        background-size: cover;
        background-position: center;
    }
    .content{
        width: 720px;
        height: 650px;
        position: relative;
        left: 35px;
        transition: all.4s;
    }
    .content h1{
        width: 680px;
        font-size: 25px;
        font-weight: 700;
        color: lightgoldenrodyellow;
        left: 18px;
        top: -6rem;
        transition: all.4s;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"]{
        position: relative;
        top: -3rem;
        transition: all.4s;
    }
    .input_cont i{
        position: relative;
        top: -3rem;
    }
    .fin_page p{
        color: lightgoldenrodyellow;
        font-size: 23px;
        position: relative;
        bottom: -1rem;
    }  
       .footer h2{
        position: relative;
        left: 1rem;
    }
       .footer img{
        position: relative;
        left: 1rem;
    }
}
    @media (min-width: 992px) and (max-width:1199px){
        body{
            background-size: cover;
            background-position: center;
        }
        .content{
            width: 720px;
            height: 650px;
            position: relative;
            left: 155px;
            transition: all.4s;
        }
        .content h1{
            width: 680px;
            font-size: 25px;
            font-weight: 700;
            color: lightgoldenrodyellow;
            left: 18px;
            top: -6rem;
            transition: all.4s;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"]{
            position: relative;
            top: -3rem;
            transition: all.4s;
    }
        .input_cont i{
            position: relative;
            top: -3rem;
    }
        .fin_page p{
            color: lightgoldenrodyellow;
            font-size: 23px;
            position: relative;
            bottom: -1rem;
        }  
           .footer h2{
            position: relative;
            left: 1rem;
        }
           .footer img{
            position: relative;
            left: 1rem;
        } 
    }
    @media (min-width: 1200px) and (max-width: 1439px){
        body{
            background-size: cover;
            background-position: center;
        }
        .content{
            width: 720px;
            height: 650px;
            position: relative;
            left: 300px;
            transition: all.4s;
        }
        .content h1{
            width: 680px;
            font-size: 25px;
            font-weight: 700;
            color: lightgoldenrodyellow;
            left: 18px;
            top: -6rem;
            transition: all.4s;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"]{
            position: relative;
            top: -3rem;
            transition: all.4s;
    }
        .input_cont i{
            position: relative;
            top: -3rem;
    }
        .fin_page p{
            color: lightgoldenrodyellow;
            font-size: 23px;
            position: relative;
            bottom: -1rem;
        }  
           .footer h2{
            position: relative;
            left: 1rem;
        }
           .footer img{
            position: relative;
            left: 1rem;
        }  
    }
/*   media queries de log in   */
@media (min-width: 320px) and (max-width:767px){
body{
    background-size: cover;
    background-position: center;
}
.login{
    position: relative;
    left: 0;
}
.title_login{
    position: relative;
    left: 70px;
    width: 320px;
    font-size: 22px;
    transition: all.6s;
}

.box_log{
    position: relative;
    left: -3rem;
    width: 320px;
    height: 350px;
    position: relative;
    left: 70px;
    transition: all.6s;
}
.input_icon input{
    width: 230px;
    position: relative;
    top: 0;
    left: 15px;
    transition: all.6s;
}
.box_log p{
    font-size: 25px;
    position: relative;
    left: 2rem;
    transition: all.6s;
}
.box_log button{
    position: relative;
    left: 4rem;
    transition: all.6s;
}
}
@media (min-width:768px) and (max-width: 991px){
    body{
        background-size: cover;
        background-position: center;
    }
    .login{
        position: relative;
        left: 0;
        transition: all.6s;
    }
    .title_login{
        position: relative;
        left: 40px;
        width: 720px;
        font-size: 25px;
        transition: all.6s;
    }
    
    .box_log{
        position: relative;
        left: -3rem;
        width: 720px;
        height: 350px;
        position: relative;
        left: 40px;
        transition: all.6s;
    }
    .input_icon input{
        position: relative;
        top: 0;
        left: 35px;
        transition: all.6s;
    }
    .box_log p{
        font-size: 25px;
        position: relative;
        left: 7rem;
        transition: all.6s;
    }
    .box_log button{
        position: relative;
        left: 15rem;
        transition: all.6s;
    }

}
@media (min-width:992px) and (max-width:1199px){
    body{
        background-size: cover;
        background-position: center;
    }
    .login{
        position: relative;
        left: 0;
        transition: all.6s;
    }
    .title_login{
        position: relative;
        left: 170px;
        width: 720px;
        font-size: 25px;
        transition: all.6s;
    }
    
    .box_log{
        position: relative;
        left: -3rem;
        width: 720px;
        height: 350px;
        position: relative;
        left: 170px;
        transition: all.6s;
    }
    .input_icon input{
        position: relative;
        top: 0;
        left: 35px;
        transition: all.6s;
    }
    .box_log p{
        font-size: 25px;
        position: relative;
        left: 7rem;
        transition: all.6s;
    }
    .box_log button{
        position: relative;
        left: 15rem;
        transition: all.6s;
    }
}
@media (min-width:1200px) and (max-width: 1439px){
    body{
        background-size: cover;
        background-position: center;
    }
    .login{
        position: relative;
        left: 0;
        transition: all.6s;
    }
    .title_login{
        position: relative;
        left: 270px;
        width: 720px;
        font-size: 25px;
        transition: all.6s;
    }
    
    .box_log{
        position: relative;
        left: -3rem;
        width: 720px;
        height: 350px;
        position: relative;
        left: 270px;
        transition: all.6s;
    }
    .input_icon input{
        position: relative;
        top: 0;
        left: 35px;
        transition: all.6s;
    }
    .box_log p{
        font-size: 25px;
        position: relative;
        left: 7rem;
        transition: all.6s;
    }
    .box_log button{
        position: relative;
        left: 15rem;
        transition: all.6s;
    }
}