@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,100&family=Bruno+Ace+SC&family=Jost:ital,wght@1,300&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,700;1,100&family=Bruno+Ace+SC&family=Jost:ital,wght@1,300&family=Press+Start+2P&display=swap');
:root{
    --background: #f0f0f0;
    --background_box: #b7aaa0;
    --hankook: rgb(255, 161, 38);
    --pirelli:rgb(255, 241, 38);
    --txt: #c43d1c;
    --primary: #4565;
    --secondary: #101952;
    --btn1:#22187c;
    --btn2:#2712c7;
    --linea: rgb(86, 153, 58);
    --whatsapp: #0df053;
    }
    *{
        margin: 0 auto;
        padding: 0 auto;
        border: 0 auto;
        box-sizing: border-box;
    }
    /*boton de whatsapp*/

    .btn_wsp{
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 30px;
        background: var(--whatsapp);
        border-radius: 100px;
        font-size: 29px;
        color: #f0f0f0;
        text-align: center;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
        z-index: 100;
        transition: all.4s;
    }
    .btn_wsp:hover{
        text-decoration: none;
        color: var(--whatsapp);
        background: #f0f0f0;
    }
    /* el nabar esta aca*/

    nav{
        position: fixed;
        top: 0;
        z-index: 2;
        background-color: var(--background);
        color: black;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
        max-height: 100px;
        padding: 30px;
    }
    .navbar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .navbar img{
        width: 100px;
        height: 100px;
    }
    .navbar .marca1 {
        width: 250px;
        position: relative;
        left: 0;
    }
    .navbar .marca2{
        width: 250px;
        position: relative;
        left: 0;
    }
    .navbar ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family:'Asap', sans-serif;
        gap: 30px;
        font-display: black;
        list-style: none;
        font-weight: 700;
    }
    .navbar ul li a{
        text-decoration: none; 
    }
    a:visited{
        color:var(--secondary);
    }
    /* toogle bar o barra hamburguesa */
    #toggle_bar{
    display: none;
    } 
    .fa-solid{
        display: none;
    }
    
    /*   carrito de compras */
    input{
        display: none;
    }
    .carrito label i{
        display: flex;
        position: relative;
        top: 5px;
        left: 5px;
    }
    .cart_icon{
    position: relative;
    left: 15px; 
    }
    .carrito_cont{
        display: none;
        width: 25rem;
        height: 20rem;
        border-radius: 5px 10px 5px 10px;
        background-color: var(--background_box); 
    
    }
    .carrito_box{
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        background-color: var(--primary);
        width: 250px;
        height: 130px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(224, 219, 210, 0.788);
    }
    .carrito_box h2{
        text-align: center;
    }
    .carrito_box p{
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
    }
    .carrito_box button{
        background-color: var(--btn1);
        border-radius: 5px;
        font-size: 12px;
        color: var(--background);
        font-family: 'Asap', sans-serif ;
        width: 80px;
        height: 20px;
    }
    .carrito_box img{
        display: flex;
        background-color: aliceblue;
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }
    #toggle_cart:checked~.carrito_cont{
        display: block;
        width: 300px;
        height: 30rem;
        position: relative;
        top: 220px;
        left: 30px;
    }
    /* main*/ 
    main{
        background-image: url(assets/background.jpg);
        padding: 0;
        margin: 0;

    }
    /* hero*/
    #hero{
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
    .hero_txt h1{
        position: relative;
        top: 2rem;
        text-align: center;
        color: var(--txt);
        font-family: 'Asap', sans-serif;
        font-size: 45px;
        margin-bottom: 3rem;
    }
    .hero_box,
    .hero_box h2,
    .hero_box h3,
    .hero_box p{
        text-align: center;
        margin-bottom: 2rem;
        font-family: 'Asap', sans-serif;
        margin: 20px;
    }
    .hero_txt p a{
        font-size: 17px;
        text-decoration: none;
    }
    .hero_txt p a:active{
        color: var(--txt);
    }
    .hero_txt p a:visited{
        color: var(--txt);
    }
    .hero_box{
        background-image: url(assets/interiortrieshop.jpg);
        border-top: 0;
        background-size: cover;
        border-radius: 200px; 
    }
    .item img{
        border-radius: 20px;
        box-shadow: 1px 1px;
    }
    .hero_txt{
        background: transparent;
        backdrop-filter: blur(15px);
        border-radius: 20px;

    }
    /*           el grid             */

   .container_grid{
       margin: 0;
       max-width: 800px;
       display: grid;
       overflow: hidden;
       grid-template-columns: 230px 370px 150px 150px;
       grid-template-rows: 440px 250px 0 0; 
       grid-gap: 1rem;   
       position: relative;
       left: 28rem;
       top: 5rem;
    }
    .item1{
        grid-row: 1/2;
    }
    .item2{
        grid-row: 1/2;
    }
    .item3{
        grid-row: 2/2;

    }
    .item4{
        grid-column: 3/3;
    }
    .item5{
        grid-column: 4/4;
    }
    /*             publicidad                 */
    .publi{
        width: 1000px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*               products              */
  
    #products{
        width: 100%;
    }
    .products_box{
        width: 100%;
    }
    .prod_neum{
        display: flex;
        gap: 30px;
        max-width: 1200px;
        height: 600px;
    }
  
    #products h1{
        padding-top:4rem ;
        padding-bottom: 1rem;
        text-align: center;
        text-decoration: underline;
        font-family: 'Asap', sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: var(--txt);
    }
      
                /* linea hankook*/

    .prod_hank{
        background-color: var(--hankook);
        width: 400px;
        height: 500px;
        gap: 30px;
        border-radius: 5px;
        margin-top: 10rem;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        transition: all.4s;
    }
    .prod_hank:hover{ 
        background-color: var(--hankook);  
        height: 510px;
        gap: 30px;
        border-radius: 5px;
        margin-top: 10rem;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }
    .prod_hank i{
        font-size: 24px;
        gap: 20px;
        position: relative;
        left: 7rem;
        bottom: -2rem;
    }
    .prod_hank p{
        text-align: center;
        
    }
    .prod_hank p span{
          font-weight: 800; 

    }
    .prod_hank img{
        width: 200px;
        position: relative;
        left: 6rem;
        transition: all.4s;
    }
    .prod_hank img:hover{
        width: 205px;
        position: relative;
        left: 6rem;
    }

    .prod_hank button{
        width: 230px;
        height: 35px;
        background-color: var(--btn1);
        text-align: center;
        font-family: 'Asap', sans-serif;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: 900;
        border-radius: 8px;
        position: relative;
        top: 40px;
        left: 5rem;
        transition: all.5s;
    }
    .prod_hank button:hover{
        background-color: var(--secondary);
    }

             
    /*        linea pirelli      */
    
    .prod_pir{
        background-color: var(--pirelli);
        width: 400px;
        height: 500px;
        gap: 30px;
        border-radius: 5px;
        margin-top: 10rem;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        transition: all.4s;
    }
    .prod_pir:hover{
        height: 510px;
        gap: 30px;
        border-radius: 5px;
        margin-top: 10rem;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }
    .prod_pir i{
        font-size: 24px;
        position: relative;
        left: 7rem;
        bottom: -2rem;
    }
    .prod_pir p{
        text-align: center;
        gap: 20px;
    }
    .prod_pir p span{
        font-weight: 800; 

    }
    .prod_pir img{
        width: 200px;
        position: relative;
        left: 6rem;
        transition: all.4s;
    }
    .prod_pir img:hover{
        width: 205px;
    }
    .prod_pir button{
        width: 230px;
        height: 35px;
        background-color: var(--btn1);
        text-align: center;
        font-family: 'Asap', sans-serif;
        font-size: 20px;
        color: rgb(238, 238, 238);
        font-weight: 900;
        border-radius: 8px;
        position: relative;
        top: 40px;
        left: 5rem;
        transition: all.5s;
    }
    .prod_pir button:hover{
        background-color: #2712c7;
    }
    /*         ecologia          */ 
    .eco_pro img{
        padding-top: 5rem;
        width: 99%;
        position: relative;
        left: 1rem;
        border-bottom: 7px solid rgb(86, 153, 58);
        }

        /*     seccion   contactos   */


   .contacts_info{
    height: 400px;
    padding-top: 2rem;
    display: flex;
    background-color: var(--background);
    justify-content: space-around;
   }
   #contacts h1{
    background-color: var(--background);
    display: flex;
    font-family: 'Asap', sans-serif;
    font-weight: 900;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
   }
   .contact_box1,
   .redes{
    background: var(--background_box);
    min-width: 200px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4) ;
   }
   .contact_box2{
    background: var(--background_box);
    width: 200px;
    height: 150px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
   }
   .contact_box1 h2,
   .contact_box2 h2{
    width: 180px;
    position: relative;
    top: -3rem;
    left: 2rem;
   }
   .contact_box1 ul li,
   .contact_box1 ul li a{
    height: 100px;
    gap: 1px;
    font-display: none;
    list-style: none;
   }
   .contact_box2 ul li{
    height: 30px;
   }

   .contact_box2 li a{
    list-style: none;
    font-family: 'Asap', sans-serif;
    font-display: none;
    }

   .contact_box1 ul li i{
    display: flex;
   }
   .contact_box2 img{
    position: relative;
    left: 60px;
    top: 4rem;
   }
   .contacts_info .redes h2{
    position: relative;
    top: -3rem;
    left: 1rem;
   }
   .contacts_info .redes i{
    height: 100px;
    display: block;
    flex-wrap: wrap;
    font-size: 45px;
    position: relative;
    left: 50px;
   }
   .contacts_info .redes i:hover{
   color: blue;
   }

   .contact_map{
    width: 440px;
    height: 300px;
    background-color: var(--background_box);
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5) ;
    position: relative;
    top: 0;
   }
   iframe{
    position: relative;
    left: 23px;
   }
   /* footer */
   .footer{
    display: flex;
    background-color: var(--background_box);
    width: 100%;
    height: 40px;
   }
   .footer img{
    opacity: 0.5;
    position: relative;
    left: -4rem;
   }
   .footer h2{
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    left: -47rem;
    opacity: 0.5;
   }